*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #ffffff;
  --slate-1: #eef0f5;
  --slate-1-half: hsl(223, 26%, 88%);
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #0099cc;
  --slate-3-faded: #0099cc30;
  --slate-3-Dfaded: #0099cc13;
  --no-padding: 0px;
  --padding-1: 5px;
  --padding-2: 10px;
  --padding-3: 15px;
  --padding-4: 20px;
  --padding-5: 25px;
  --padding-6: 30px;
}

body {
  background-color: var(--slate-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

svg {
  display: block;
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}
progress {
  height: var(--progress-height);
  background: none;
  appearance: none;
  color: var(--slate-3);
  -webkit-appearance: none;
}

progress::-moz-progress-bar {
  background: var(--slate-3);
}

progress::-webkit-progress-value {
  background: var(--slate-3);
}

progress::-webkit-progress-bar {
  background: none;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  display: block;
  border-radius: var(--padding-4);
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  width: 100%;
  min-width: 0px;
  padding: 0.75em 0.55em;
}

input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--slate-2);
  border-radius: var(--padding-2);
  border: none;
  appearance: none;
  background-color: var(--slate-1);
  font-size: 1rem;
}

input:focus,
.input-control textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--slate-3);
  margin-bottom: -1px;
}

button {
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  padding: 0.75em 1em;
  border-radius: 25px;
}

button:disabled {
  cursor: default;
}

.page-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: var(--padding-1);
  row-gap: var(--padding-1);
}

.container {
  border-radius: var(--padding-2);
  background-color: var(--white-1);
}

.page-content {
  position: relative;
}

.content {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
}

.page-content > :nth-child(2) {
  margin-top: var(--padding-1);
}

.view-header {
  padding: var(--padding-4);
  display: flex;
  column-gap: var(--padding-2);
  justify-content: center;
}

.view-header > button {
  flex: 1;
}

.form:has(.replicable) {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.irreplicable {
  display: grid;
  row-gap: var(--padding-4);
  padding: var(--padding-4);
}

.accordian-panel {
  display: grid;
}

.accordian-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.accordian-content {
  margin-top: 20px;
}

.skills-wrapper .accordian-content-wrapper .accordian-content {
  margin-top: 0;
}

.accordian-content-wrapper[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.form-section.irreplicable {
  padding: var(--padding-4);
}

.group-header {
  --title-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-4);
}

.skill-category-wrapper .group-header:not(.skills-wrapper .group-header),
.group-header:not(.skills-wrapper .group-header) {
  background-color: rgba(112, 128, 144, 0.1);
  outline: 1px solid rgba(112, 128, 144, 0.237);
  border-radius: var(--padding-2);
}

.skills-wrapper .group-header {
  padding-left: 0;
  padding-right: 0;
}

.category-display-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.untitled-category {
  font-style: italic;
  opacity: 0.6;
}

.category-title {
  display: flex;
  align-items: center;
  column-gap: var(--padding-2);
}

.catInput {
  background: var(--slate-3-Dfaded);
  padding: 0;
  caret-color: var(--slate-3);
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0;
}

.catInput-wrapper {
  position: relative;
}

:where(.catInput-wrapper, .catVal-wrapper) > :first-child {
  padding: var(--padding-1);
}

.category-title > * {
  position: relative;
  left: calc(var(--padding-1) * -1);
}

.catInput-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1.5px;
  width: 100%;
  background-color: var(--slate-3);
}

.catInput:focus {
  outline: none;
}

.accordian-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-4);
  column-gap: var(--padding-2);
  overflow: hidden;
}

.accordian-content > div {
  grid-column: 1/-1;
  padding: 0 var(--padding-4);
}

.input-control.skill {
  padding: 0;
}

.accordian-content-wrapper > div > div:last-child {
  padding-bottom: var(--padding-4);
}

.replicable .start-date {
  grid-column: 1/2;
  padding-right: 0px;
}

.replicable .start-date + div {
  grid-column: 2/3;
  padding-left: 0px;
}

button[data-button-type="accordian-control"] {
  padding: var(--no-padding);
  margin: var(--no-padding);
  background: none;
}

button[data-button-type="accordian-control"] svg {
  transition: transform 500ms;
  transform: rotate(0);
}

button[data-button-type="accordian-control"] > svg.visible {
  transform: rotate(180deg);
}

button[data-button-type="edit-category"] {
  padding: 0;
  border-radius: 0;
  background: none;
}

button[data-button-type="add-skill"] {
  grid-column: 2/-1;
  justify-self: right;
  background: none;
}

.category-edit-icon,
.category-save-icon {
  transition: fill 200ms ease-in-out, filter 200ms ease-in-out;
}

button:hover > svg.frost {
  fill: var(--fill-color);
  filter: var(--drshdw-color);
}

.group-title {
  font-size: var(--title-size);
}

.group-subtitle {
  font-weight: 200;
  font-style: italic;
  font-size: calc(0.85 * var(--title-size));
}

button[data-button-type="edit-group"] {
  background: none;
  padding-right: 0.5em;
}

.input-groups > div {
  outline: 1px solid rgba(112, 128, 144, 0.237);
}

.form:has(.replicable) .input-groups {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--padding-3);
  padding: var(--padding-2);
}

button[data-button-type="add-inputGroup"] {
  align-self: self-end;
  color: var(--slate-3);
  background: none;
  font-weight: 600;
  transition: background-color 350ms ease-in-out;
}

button[data-button-type="add-inputGroup"]:hover {
  background-color: var(--slate-3-Dfaded);
}

button[data-button-type="delete-group"] {
  opacity: 0;
}

button[data-button-type="delete-group"].closed {
  position: relative;
  pointer-events: none;
  z-index: 0;
  animation: slide-right 300ms ease-in-out forwards;
}

button[data-button-type="edit-group"] {
  position: relative;
  z-index: 1;
}

.header-buttons-wrapper {
  display: flex;
  align-items: center;
}

[data-button-type="delete-group"].open {
  animation: slide-left 300ms ease-in-out forwards;
}

.input-control.skill .form-input {
  /* assures outline is visible given that the div wrapper declares overflow as hidden */
  margin-top: 1px;
}

.skills-wrapper .group-header {
  padding-top: var(--padding-1);
  padding-bottom: var(--padding-1);
}

.form-input {
  margin-top: var(--padding-1);
}

.input-control:has(textarea) label {
  display: flex;
  flex-direction: column;
}

.input-control textarea {
  resize: vertical;
  min-height: 8lh;
  border: none;
  background-color: var(--slate-1);
  border-radius: 7px;
  padding: var(--padding-2);
}

input[type="date"] {
  text-transform: uppercase;
}

.form-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.form-input-title {
  color: var(--slate-half);
}

.form-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--padding-4);
}

.progress-footer {
  display: grid;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.spacer {
  height: var(--padding-1);
  background-color: var(--slate-1);
  position: relative;
  z-index: 1;
}

.progress-buttons-wrapper {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-4);
}

.progress-bar-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--progress-height) / 2);
  background-color: var(--white-1);
}

.progress-bar-wrapper {
  flex: 1;
  --progress-height: 8px;
  position: relative;
}

.progressbar {
  transition: all 500ms ease-in;
  height: var(--progress-height);
}

/* resume styles */
.resume {
  max-width: 800px;
}
.resume-page {
  box-shadow: 0 0 5px 2px var(--slate-1-half);
  --large-text: 24pt;
  --med-text: 14pt;
  --small-text: 11pt;
  --x-small-text: 10pt;
  width: 8.5in;
  height: 11in;
  transform-origin: top center;
  /* transform: scale(0.8); */
  padding: 0.5in;
  margin: var(--padding-4) auto;
}

/* resume section styles */
.section-content {
  display: grid;
  grid-template-columns: 1fr auto;
}
.section-title {
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(150, 12, 10);
  font-size: var(--med-text);
}

.bar {
  height: 1px;
  background-color: black;
}

.content-title {
  font-weight: 600;
  font-size: var(--small-text);
}

.content-subtitle {
  font-size: var(--x-small-text);
  font-style: italic;
}

.start,
.end {
  font-size: var(--small-text);
}

.personalInformation .section-title {
  color: black;
  font-size: var(--large-text);
  text-align: center;
}

.datalayer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.section a {
  font-style: italic;
  color: black;
}

.projects-wrapper .content-header {
  display: flex;
  justify-content: space-between;
}

.bullet-points {
  --indent: 0.25in;
  padding-left: calc(var(--indent) + 1em);
}

.bullet-points li {
  display: list-item;
}

/* svg hover profiles */
.frost {
  --fill-color: var(--slate-3);
  --drshdw-color: drop-shadow(0 0 1px #66d5ff);
}

/* keyframes */
@keyframes slide-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}
