*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #ffffff;
  --slate-1: hsl(223, 26%, 94%);
  --slate-1-half: hsl(223, 26%, 88%);
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #4275ab;
}

body {
  background-color: var(--slate-1);
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  display: block;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  min-width: 0px;
  background-color: var(--slate-1);
  font-size: 1rem;
  padding: 0.75em 0.55em;
  border-radius: 10px;
  color: var(--slate-2);
}

input:focus {
  outline: 1px solid var(--slate-3);
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  padding: 0.75em 1em;
  border-radius: 25px;
}

.page-wrapper {
  min-height: 100vh;
  padding: 10px;
}

.page-content {
  min-height: inherit;
  display: grid;
  grid-template-rows: min-content auto min-content;
  row-gap: 10px;
  position: relative;
}

.page-content > * {
  background-color: var(--white-1);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--slate-1-half);
}

.form {
  position: relative;
}

.form:has(.replicable) {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

.input-groups {
  padding: 20px;
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button[data-button-type="edit-group"] {
  background: none;
}

.form:has(.replicable) .input-groups {
  display: grid;
  row-gap: 30px;
}

button[data-button-type="add-inputGroup"] {
  align-self: self-end;
  background-color: var(--slate-3);
  color: var(--white-1);
}

button[data-button-type="delete-group"] {
  opacity: 0;
}

button[data-button-type="delete-group"].closed {
  position: relative;
  pointer-events: none;
  z-index: 0;
  animation: slide-right 300ms ease-in-out forwards;
}

button[data-button-type="edit-group"] {
  position: relative;
  z-index: 1;
}

[data-button-type="delete-group"].open {
  animation: slide-left 300ms ease-in-out forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

.form-section {
  --row-padding: 20px;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--row-padding);
  column-gap: calc(var(--row-padding) / 2);
  display: grid;
  box-shadow: 0 0 1px 1px var(--slate-1-half);
  border-radius: 10px;
  padding: 20px;
}

#form-input {
  margin-top: 5px;
}
/* 130, 139, 162 */
.form-section > div {
  grid-column: 1/-1;
}

.form-section .start-date {
  grid-column: 1/2;
}

.form-section .start-date + div {
  grid-column: 2/3;
}

.form-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.form-input-title {
  color: var(--slate-half);
}

.form-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white-1);
  padding: 1rem 0rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  /*
Source - https://stackoverflow.com/a
Posted by Steve B, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-22, License - CC BY-SA 4.0
*/
  box-shadow: 0 4px 1px -3px var(--slate-1-half);
}

.progress-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-footer::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 10px;
  background-color: var(--slate-1);
  width: 100%;
}

.progress-buttons-wrapper {
  display: flex;
  column-gap: 10px;
}
