*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #ffffff;
  --slate-1: hsl(223, 26%, 94%);
  --slate-1-half: hsl(223, 26%, 88%);
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #4275ab;
  --no-padding: 0px;
  --padding-1: 5px;
  --padding-2: 10px;
  --padding-3: 15px;
  --padding-4: 20px;
  --padding-5: 25px;
  --padding-6: 30px;
}

body {
  background-color: var(--slate-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  width: 100%;
  min-width: 0px;
  padding: 0.75em 0.55em;
}

input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--slate-2);
  border-radius: var(--padding-2);
  border: none;
  appearance: none;
  background-color: var(--slate-1);
  font-size: 1rem;
}

input:focus,
.input-control textarea:focus {
  outline: 1px solid var(--slate-3);
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  padding: 0.75em 1em;
  border-radius: 25px;
}

.page-wrapper {
  min-height: 100vh;
  padding: var(--padding-4) var(--padding-6);
}

.page-content {
  display: grid;
  grid-template-rows: min-content auto min-content;
  row-gap: var(--padding-6);
  position: relative;
  min-height: inherit;
}

.page-content > * {
  background-color: var(--white-1);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--slate-1-half);
}

.form {
  position: relative;
}

.form:has(.replicable) {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

.input-groups {
  padding: var(--padding-4);
}

.input-groups > div {
  box-shadow: 0 0 3px 1px var(--slate-1-half);
  border-radius: 10px;
}

.irreplicable {
  display: grid;
  row-gap: var(--padding-4);
  padding: var(--padding-4);
}

.accordian-panel {
  display: grid;
}

.accordian-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.accordian-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.form-section.irreplicable {
  padding: var(--padding-4);
}

.group-header {
  --title-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-4);
}

.accordian-content > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--padding-4);
  column-gap: var(--padding-2);
  margin-top: var(--no-padding);
  overflow: hidden;
}

.accordian-content > div > div {
  grid-column: 1/-1;
  padding: 0 var(--padding-4);
}

.accordian-content > div > div:last-child {
  padding-bottom: var(--padding-4);
}

.replicable .start-date {
  grid-column: 1/2;
  padding-right: 0px;
}

.replicable .start-date + div {
  grid-column: 2/3;
  padding-left: 0px;
}

button[data-button-type="accordian-control"] {
  padding: var(--no-padding);
  margin: var(--no-padding);
  background: none;
}

button[data-button-type="accordian-control"] svg {
  transition: transform 500ms;
  transform: rotate(0);
}

button[data-button-type="accordian-control"] > svg.visible {
  transform: rotate(180deg);
}

.group-title {
  font-size: var(--title-size);
}

.group-subtitle {
  font-weight: 200;
  font-style: italic;
  font-size: calc(0.85 * var(--title-size));
}

button[data-button-type="edit-group"] {
  background: none;
  padding-right: 0.5em;
}

.form:has(.replicable) .input-groups {
  display: grid;
  row-gap: 30px;
}

button[data-button-type="add-inputGroup"] {
  align-self: self-end;
  background-color: var(--slate-3);
  color: var(--white-1);
}

button[data-button-type="delete-group"] {
  opacity: 0;
}

button[data-button-type="delete-group"].closed {
  position: relative;
  pointer-events: none;
  z-index: 0;
  animation: slide-right 300ms ease-in-out forwards;
}

button[data-button-type="edit-group"] {
  position: relative;
  z-index: 1;
}

.header-buttons-wrapper {
  display: flex;
  align-items: center;
}

[data-button-type="delete-group"].open {
  animation: slide-left 300ms ease-in-out forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

.input-control.skill .form-input {
  /* assures outline is visible given that the div wrapper declares overflow as hidden */
  margin-top: 1px;
}

.form-input {
  margin-top: var(--padding-1);
}

.input-control:has(textarea) label {
  display: flex;
  flex-direction: column;
}

.input-control textarea {
  resize: vertical;
  min-height: 8lh;
  border: none;
  background-color: var(--slate-1);
  border-radius: 10px;
  padding: var(--padding-2);
}

input[type="date"] {
  text-transform: uppercase;
}

.form-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.form-input-title {
  color: var(--slate-half);
}

.form-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white-1);
  padding: 1rem 0rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: var(--padding-4);
}

.progress-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-4);
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-footer::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 10px;
  background-color: var(--slate-1);
  width: 100%;
}

.progress-buttons-wrapper {
  display: flex;
  column-gap: 10px;
}
