*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #fefefe;
  --slate-1: hsl(223, 26%, 91%);
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #4275ab;
}

body {
  background-color: var(--slate-1);
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  display: block;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  min-width: 0px;
  background-color: var(--slate-1);
  font-size: 1rem;
  padding: 0.75em 0.55em;
  border-radius: 10px;
  color: var(--slate-2);
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 2em;
}

.page-wrapper {
  min-height: 100vh;
  padding: 10px;
}

.page-content {
  min-height: inherit;
  display: grid;
  grid-template-rows: min-content auto min-content;
  row-gap: 10px;
  position: relative;
}

.page-content > * {
  background-color: var(--white-1);
  border-radius: 10px;
}

.form {
  padding: 20px;
}

.form:has(.replicable) {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 40px;
}

.form:has(.replicable) .input-groups {
  display: grid;
  row-gap: 30px;
}

button[data-button-type="add-inputGroup"] {
  align-self: self-end;
}

button[data-button-type="delete-group"] {
  grid-column: 2/3;
  width: min-content;
  margin-left: auto;
}

.form-section {
  --row-padding: 20px;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--row-padding);
  column-gap: calc(var(--row-padding) / 2);
  display: grid;
  box-shadow: 0 0 5px 2px var(--slate-1);
  border-radius: 10px;
  padding: 20px;
}

.sub-section {
  box-shadow: 0px 0px 10px 2px #dbdcdc;
  border-radius: 10px;
}

.form-section > div {
  grid-column: 1/-1;
}

.form-section .start-date {
  grid-column: 1/2;
}

.form-section .start-date + div {
  grid-column: 2/3;
}

.form-title {
  font-weight: 600;
}

.progress-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-footer::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 10px;
  background-color: var(--slate-1);
  width: 100%;
}

.progress-buttons-wrapper {
  display: flex;
  column-gap: 10px;
}
