*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #fefefe;
  --slate-1: #eef0f5;
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #4275ab;
}

body {
  background-color: #eef0f5;
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  display: block;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  min-width: 0px;
  background-color: var(--slate-1);
  font-size: 1rem;
  padding: 0.75em 0.55em;
  border-radius: 10px;
  color: var(--slate-2);
}

.form {
  --row-padding: 20px;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--row-padding);
  column-gap: calc(var(--row-padding) / 2);
  padding: var(--row-padding);
  display: grid;
}

.form > div {
  grid-column: 1/-1;
}

.form > div.start-date {
  grid-column: 1/2;
}

.form > div.start-date + div {
  grid-column: 2/3;
}

.form-title {
  font-weight: 600;
}

.page-wrapper {
  min-height: 100vh;
  height: 100vh;
}

.page-content {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 10px;
  height: 100%;
  position: relative;
}

.page-content > * {
  background-color: var(--white-1);
}

.progress-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-buttons-wrapper {
  display: flex;
  column-gap: 10px;
}
