*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #fefefe;
  --slate-1: #eef0f5;
  --slate-1-unfocus: hsla(223, 26%, 95%, 0.6);
  --slate-2: #36404a;
  --slate-3: #4275ab;
}

label span {
  color: var(--slate-2);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--slate-2);
}

input {
  display: block;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  min-width: 0px;
  background-color: var(--slate-1);
  font-size: 1rem;
  padding: 0.75em 0.55em;
  border-radius: 10px;
  color: var(--slate-2);
}

form {
  --row-padding: 20px;
  padding: var(--row-padding);
}

.page-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--slate-1);
}

.page-content {
  width: 100%;
}

.page-content > * {
  background-color: var(--white-1);
}

.personal-details-form {
  display: grid;
  row-gap: var(--row-padding);
  width: 100%;
}
